.addDiseaseContainer {
    padding: 100px;
}

.formDiseaseContainer {
    border-radius: 35px;
    border: 3px solid transparent;
    border-color: #616161;
    height: fit-content;
    padding: 50px;

    margin: 5% 0;
}

.formCt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formCt input[type=file]::file-selector-button {
    font-family: "Montserrat Light";
    font-weight: 400;
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
    background: #616161;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    
    -webkit-transition-duration: 0.3s; 
    transition-duration: 0.3s;
}

.formCt input[type=file]::file-selector-button:hover {
    background: #B0C6CB;
    color: black;
    
    -webkit-transition-duration: 0.3s; 
    transition-duration: 0.3s;
}

.label {
    font-family: "Montserrat Regular";
    font-weight: 400;
    font-size: 2rem;
    padding-top: 20px;
    padding-bottom: 10px;
}

.inputText {
    font-family: "Montserrat Light";
    font-weight: 300;
    font-size: 1.5rem;
    border: none;
    border-bottom: 1px solid #616161;
    width: 30%;
    padding: 10px;
    margin-bottom: 20px;
}

.inputText:hover {
    border-bottom: 5px solid #616161;
    
    -webkit-transition-duration: 0.3s; 
    transition-duration: 0.3s;
}

.inputFile {
    font-family: "Montserrat Light";
    font-weight: 300;
    font-size: 1.5rem;
    width: 30%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.submitButton {
    font-family: "Montserrat Bold";
    font-weight: 700;
    font-size: 1.5rem;
    border: none;
    border-radius: 35px;
    background: #616161;
    color: white;
    padding: 15px 30px;
    margin-top: 20px;
    cursor: pointer;
}

.submitButton:hover {
    background: #B0C6CB;
    color: black;
    
    -webkit-transition-duration: 0.3s; 
    transition-duration: 0.3s;
}