.search {
    padding: 100px;
}

.inputs {
    margin-top:5%;
    margin-bottom: 2%;
    background-color: white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    border-radius: 40px;
    border: 3px solid #616161;
    padding: 1% 2%;
    width: 35%;
    height: fit-content;
}

.inputs input {
    border: none;
    font-size: 30px;
    font-family: "Montserrat Light";
    font-weight: 700;
    text-align: right;
    color: #616161;
    width: 90%;
}

.button {
    background-color: white;
    display: grid;
    place-items: center;
}
  
.inputs input:focus {
    outline: none;
}

.searchIcon {
    width: 28px;
    height: 28px;
}

.resOuter {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    font-family: "Montserrat Bold";
}

.resCt {
    color: black;
    font-family: "Montserrat Light";
    font-weight: 400;
    font-size: 30px;
}

.notFound {
    background-color: #B0C6CB;
    padding: 100px;
    text-align: center;
    font-family: "Montserrat Regular";
    font-size: 30px;
    color: black;
    border-radius: 50px;
    border: none;
    -webkit-transition-duration: 0.3s; 
    transition-duration: 0.3s;
}

.notFound:hover {
    background-color: #006480;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.2);
    color: white;
    -webkit-transition-duration: 0.3s; 
    transition-duration: 0.3s;
}